html{
    scroll-behavior: smooth;
}

body{
    margin:0;
    padding:0;
    font-family:'Roboto', sans-serif;
}

a{
    text-decoration: none;
    color: #8f448f;
}

img{
    max-width: 100%;
    height: auto;
}

li{
    list-style-type: none;
}

section{
    max-width: 1200px;
    margin: 0 auto;
    padding: 5rem;

}

.m-0{
    margin:0;
}

.p-0{
    padding:0;
}

.menu-toggle{
    z-index: 999;
    top: 2.5em;
    right: 6em;
    width: 2.78em;
    height: 2.09em;
    background: none;
    position: fixed;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-flexbox;
    display: inline-flex;
    margin-top: 0.699em;
    color: #8f448f;
    outline: none;
    border: none;
    cursor: pointer;
}

.menu-toggle.x {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
}

.menu-toggle:before {
    top: 0;
}

.menu-toggle.x:before {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.menu-toggle.x:after {
    top: 0;
    width: 100%;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.menu-toggle:after {
    right: 0;
    width: 72%;
    top: 1.13em;
}

.menu-toggle:before, .menu-toggle:after {
    content: '';
    width: 100%;
    height: 2px;
    position: absolute;
    -webkit-transition: 0.2s ease;
    transition: 0.2s ease;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    background-color: #8f448f;
}

#contact-menu {
    top: 1.39em;
    right: 3.41em;
    width: 10em;
    font-size: 1.1em;
    position: fixed;
    -webkit-transition: opacity 0.4s, box-shadow 0.4s;
    transition: opacity 0.4s, box-shadow 0.4s;
    z-index: 998;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    box-shadow: none;
    padding: 1.273em;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

#contact-menu li{
    padding-bottom: .5rem;
}

#contact-menu:not(.open) {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

#contact-menu:not(.open):before {
    -webkit-transform: scaleX(.3826) scaleY(.27);
    -ms-transform: scaleX(.3826) scaleY(.27);
    transform: scaleX(.3826) scaleY(.27);
}

#contact-menu:before {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    width: 100%;
    height: 100%;
    content: '';
    position: absolute;
    background-color: #fff;
    -webkit-transform-origin: top right;
    -ms-transform-origin: top right;
    transform-origin: top right;
}

#contact-menu.shadow {
    box-shadow: 0 10px 53px 0 rgba(163, 204, 170, 0.3);
}

#contact-menu.open:before {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.cross-site-nav{
    z-index: 999;
}


.row{
    display:flex;
    justify-content: space-between;
}

.hello-wrapper{
    max-width:800px;
}

.hello-wrapper h2{
    font-size:2.5rem;
    font-weight: 100;
    line-height:1.3em;
}

.handwave{
    max-width:50px;
}

.profile-pic{
    border-radius:50%;
    max-width:300px;
    transition: all .5s;
}

.profile-pic:hover{
    transform:scale(1.1);
}

.social-icons i{
    font-size:1.5rem;
    padding-right:1rem;
    color:#8f448f;
}

.social-icons{
    margin-bottom: 2rem;
}

.get-in-touch{
    font-size:1rem !important;
    display:inline-flex;
    padding-right:1rem;    
}

.s-purple{
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing:1px;
    color:#8f448f;
    font-size:1.3rem;
}

.skills strong{
    border-bottom:2px solid #8f448f;
    margin-right:1rem;
    display:inline-flex;
}


.skills-title{
    margin-top:4rem;
}


.text-center{
    text-align:center;
}


.projects{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: space-between;
    -webkit-justify-content: space-between;
    -ms-flex-pack: space-between;
    justify-content: space-between;
}

.project-item{
    width: 32%;
    border-radius: 0.2rem;
    background-color: #f5f4fc;
    box-shadow: 0px 8px 6px -6px rgba(235, 234, 242, 0.58);
    -webkit-transition: 0.6s cubic-bezier(0.23, 1, 0.32, 1);
    transition: 0.6s cubic-bezier(0.23, 1, 0.32, 1);
    -webkit-transition-property: -webkit-transform, box-shadow;
    -webkit-transition-property: transform, box-shadow;
    transition-property: transform, box-shadow;
}

.project-item figcaption{
    padding: 1rem;
    text-align: center;
}

.project__links{
    margin: 0 auto;
    display: flex;
    padding-bottom: .7rem;
    justify-content: space-between;
    max-width: 180px;
    font-size: 80%;
}

.project__technologies{
    display: block;
    font-size: 70%;
    text-align: center;
    padding-bottom: 1rem;
}

.resume-btn{
    background: #8f448f;
    color: #fff;
    text-decoration: none;
    padding: .75rem 1.5rem;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    border-radius: 30px;
    margin-top: 4rem;
}

.send__emaillink{
    font-size: 85%;
}

.send__emaillink .fa{
    padding-right: .5rem;
}

@media(max-width:900px){
    .row{
        flex-direction:column;
    }

    .skills{
        margin-top:2rem;
    }

    .skills strong{
        display: block;
        margin-bottom: 1rem;
        border:none;
    }

    .profile-pic{
        display: none;
    }

    .hello-wrapper h2{
        font-size: 1.5rem;
        line-height: 1.5em;
    }

    .social-icons span{
        display: none;
    }

    .project-item{    
        width: 100%;
        margin-bottom: 2rem;
    }

}